@tailwind base;
@tailwind components;
@tailwind utilities;

.scene-body {
    width: 100%;
    min-width: 600px;
}

.scene-body-xl {
    width: 100%;
    min-width: 1100px;
}

@media (min-width: 768px) {
    .scene-body {
        min-width: 1600px;
    }

    .scene-body-xl {
        width: 100%;
        min-width: 1900px;
    }
}

@media (min-width: 1024px) {
    .scene-body {
        min-width: 2800px;
    }

    .scene-body-xl {
        width: 100%;
        min-width: 3200px;
    }
}
